/* Base styles for all elements */
* {
    font-family:
        Mona Sans,
        Arial;
    font-size: 14px;
    padding: 0;
    margin: 0;
    /* Transitions for interactive elements */
    transition:
        border 0.1s ease-in-out,
        color 0s ease-in-out;
}

/* Waybar container */
#waybar {
    background: transparent;
    font-weight: 600;
}

/* Common styles for Waybar modules */
#workspaces,
#window,
#tray,
#clock {
    color: #ebdbb2;
    border-radius: 4px;
    border-width: 0px;
    margin: 6px 8px 0 8px;
    padding: 4px 6px;
}

#workspaces,
#tray,
#clock {
    background-color: #504945;
}

/* Specific module adjustments */
#workspaces {
    padding-right: 2px;
}

#window {
    padding: 4px 10px;
    font-weight: 500;
    font-style: italic;
}

#tray {
    margin-right: 0px;
}

/* Override default padding for tray and clock for more spacing */
#tray,
#clock {
    padding: 4px 10px;
}

#workspaces button,
#clock {
    border: 2px solid transparent;
}

/* Workspace buttons within the workspaces module */
#workspaces button {
    color: #ebdbb2;
    border-radius: 3px;
    padding: 0px 4px;
    margin-right: 4px;
}

/* Hover effects for clock and workspace buttons */
#clock:hover,
#workspaces button:hover {
    border: 2px solid #ebdbb2;
    text-shadow: none;
}

/* Active workspace button state */
#workspaces button.active {
    color: #282828;
    background: #ebdbb2;
}
